:root {
    --card-color: #24273a;
    --base: rgb(24, 25, 38);
    --overlay: hwb(233 12% 81%);

    --red: rgb(237, 135, 150);
    --orange: rgb(250, 179, 135);
    --yellow: rgb(249, 226, 175);
    --green: rgb(186, 220, 88);
    --blue: rgb(138, 173, 244);
    --lavender: rgb(180, 190, 254);
    --purple: rgb(203, 155, 247);
    --text: rgb(205, 214, 244);
}

* {
    font: 'Inter', sans-serif;
    color: var(--text);
    box-sizing: border-box;
    font-size: 1em;
}

.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--base);
    z-index: 1000;
    align-items: center;
    justify-content: center;
}

.modal.show {
    display: flex;
}

.modal-container {
    background-color: var(--overlay);
    max-width: 90vw;

    max-height: 90vh;
    padding: 2em;
    display: flex;
    flex-direction: column;
    border-radius: 7px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.top-bar {
    flex: 0 0 auto;
    display: flex;
    width: calc(100%);
    align-items: stretch;
    justify-content: space-between;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none; 
    user-select: none;
}

.top-text {
    background-color: var(--card-color);
    padding: 1em;
    margin-right: 2em;
    font-weight: 700;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-grow: 1;
}

.close {
    background-color: var(--card-color);
    padding: 1em;

    border-radius: 6px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    transition:
        background-color 0.2s ease-in,
        color 0.2s ease-in;
    font-size: 1.5em;
}

.close:hover {
    background-color: var(--red);
    color: black;
}

.results-container {
    margin-top: 2em;
    flex: 1 1 auto;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 2em;
    justify-content: center;
}

.result {
    background-color: var(--card-color);
    width: 100%;
    min-height: 5em;
    max-height: 5em;
    padding: 2em;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    color: #fff;
    font-size: 2em;
}
