:root {
    --card-color: #24273a;
    --base: rgb(24, 25, 38);
    --overlay: #1e2030;

    --red: rgb(237, 135, 150);
    --green: rgb(186, 220, 88);
    --blue: rgb(138, 173, 244)
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.input-form {
    display: contents;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: var(--base); 
    color: #CCCCCC;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

h1 {
    white-space: nowrap;
    background: #C6A0F6;
    background: linear-gradient(to right, #C6A0F6 0%, #ED8796 25%, #8AADF4 75%, #B7BDF8 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    font-size: 3em;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
}

.container {
    display: grid;
    width: 1000px;
    height: 500px;
    background-color: var(--overlay);
    padding: 1em;
    gap: 1em;var(--gradient-size, 500px) circle at var(--x, 50%) var(--y, 50%), 
    rgb(77, 36, 173),
    transparent 40%
);
    border-radius: 4px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1.5fr 3fr 1fr;
    grid-template-areas:
        "top-col1 top-col1 top-col1 top-col1 top-col1 top-col2"
        "mid-col1 mid-col1 mid-col2 mid-col2 mid-col3 mid-col3"
        "bottom-col1 bottom-col2 bottom-col3 bottom-col3 bottom-col3 bottom-col3";
}

#math-field {
    width: 100%;
    height: 100%;
    border-radius: inherit;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    font-size: 1.5em;
    font-weight: 900;
}

.card {
    background-color: var(--card-color);
    border-radius: 0.4em;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.card:hover > .card-border,
.card:hover::before {
    opacity: 1;
}

.card::before, 
.card > .card-border {
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.5s ease;
    border-radius: inherit;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* Prevents interference with hover */
}

.card > .card-border {
    background: radial-gradient(
        var(--gradient-size, 500px) circle at var(--x, 50%) var(--y, 50%), 
        var(--red),
        transparent 40%
    );
    z-index: 1;
}

.math-card > .card-border {
    background: radial-gradient(
        var(--gradient-size, 500px) circle at var(--x, 50%) var(--y, 50%), 
        var(--blue),
        transparent 40%
    );
} 

.gradient-small {
    --gradient-size: 150px;
}



.card > .card-content {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--card-color);
    border-radius: inherit;
    margin: 2px;
    position: relative;
    height: calc(100% - 4px);
    width: calc(100% - 4px);
    z-index: 2;
}

/* Grid Areas */
[class*="col"] {
    grid-area: var(--grid-area);
}

.top-col1 { --grid-area: top-col1; }
.top-col2 { 
    --grid-area: top-col2; 
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.mid-col1 { --grid-area: mid-col1; }
.mid-col2 { --grid-area: mid-col2; }
.mid-col3 { --grid-area: mid-col3; }

.bottom-col1, .bottom-col2, .bottom-col3 { 
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom-col3 { 
    --grid-area: bottom-col3; 
    font-size: 1.3em;
    text-align: center;
}

/* Full Width Elements */
.full-width {
    background-color: inherit;
    color: #ffffff;
    padding: 2em;
    border-radius: inherit;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    outline: none;
    border: none;
}

.full-width:active,
.full-width:focus,
.full-width:focus-visible {
    outline: none;
    box-shadow: none;
}

/* MathJax Styling */
.math {
    font-size: 3.5em;
    color: #CCCCCC;
}

/* Links */
a {
    color: #CCCCCC;
    text-decoration: none;
}

@media (max-width: 600px) {
    h1 {
        font-size: 2em;
        top: 50px;
    }

    .container {
        width: 90%;
        height: auto;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            "top-col1"
            "top-col2"
            "mid-col1"
            "mid-col2"
            "mid-col3"
            "bottom-col1"
            "bottom-col2"
            "bottom-col3";
    }

    .card {
        margin-bottom: 1em;
    }
}

@media (max-height: 1200px) {
    h1 {
        font-size: 0em;
        top: 100px;
    }

    .card {
        margin-bottom: 1em;
    }
}